<div class="page_container">

  <div class="breadcrumbs">
    <div class="container">
      <ul>
        <li><a href="/">Site</a></li>
        <li><span>Sobre nós</span></li>
      </ul>
    </div>
  </div>

  <div id="shopify-section-template-about-us" class="shopify-section section section_template section_template__about">
    <div class="container">

      <h1 class="page_heading">Sobre nós</h1>

      <div class="page_content">

        <div class="page_content__block page_content__text">

          <h2 class="block_title">Atendendo às suas necessidades, cuidando das suas necessidades com cuidado.</h2>

          <div class="block_content rte">
            <p>
              Nossa loja é mais do que apenas outro varejista on-line médio. Nós vendemos não apenas produtos de alta
              qualidade, mas também oferecemos aos nossos clientes uma experiência positiva de compras on-line. Esqueça
              se esforçar para fazer tudo de uma vez: cuidar da família, administrar o seu negócio, passear com o
              cachorro, limpar a casa, fazer compras, etc. Compre os bens que você precisa todos os dias ou simplesmente
              em alguns cliques ou toques, dependendo do dispositivo que você usa para acessar a Internet. Nós
              trabalhamos para tornar sua vida mais agradável.
            </p>
          </div>

        </div>


        <div class="page_content__block page_content__icons">

          <h2 class="block_title">Alguns serviços</h2>

          <div class="row">

            <div class="col-sm-4">
              <div class="item">
                <div class="item_icon">
                  <i class="fa fa-search"></i>
                </div>

                <h3 class="item_title">Procure e você encontrará</h3>

                <div class="item_text">
                  <p> Pensamos na conveniência de sua escolha. Nossos produtos são fornecidos com classificação por
                    estrelas, o que deve ajudar os compradores hesitantes a tomar uma decisão. Além disso, você pode
                    pesquisar em nosso site. se você souber exatamente o que está procurando ou usar vários filtros
                    diferentes que economizarão muito tempo e esforço.
                  </p>
                </div>

              </div>
            </div>


            <div class="col-sm-4">
              <div class="item">
                <div class="item_icon">
                  <i class="fa fa-truck"></i>
                </div>

                <h3 class="item_title">Entrega gratuíta para todas as regiões próximas</h3>

                <div class="item_text">
                  <p>Não importa onde você mora, seu pedido será enviado no prazo e entregue diretamente na sua porta ou
                    em qualquer outro local que você tenha declarado. As embalagens são manuseadas com o maior cuidado,
                    para que os produtos encomendados sejam entregues a você de forma segura, como você espera que eles
                    sejam.
                  </p>
                </div>

              </div>
            </div>


            <div class="col-sm-4">
              <div class="item">
                <div class="item_icon">
                  <i class="fa fa-thumbs-o-up"></i>
                </div>

                <h3 class="item_title">Produtos da mais alta qualidade.</h3>


                <div class="item_text">
                  <p>Nós garantimos a mais alta qualidade dos produtos que vendemos. Vários anos de operação
                    bem-sucedida e milhares de clientes satisfeitos nos deixam certos sobre isso. Além disso, todos os
                    itens que vendemos passam por um controle de qualidade completo, de modo que nenhum descasamento de
                    características pode escapar do olho de nossos profissionais.
                  </p>
                </div>

              </div>
            </div>

          </div>
        </div>


        <div class="page_content__block page_content__photos">

          <h2 class="block_title">Nosso time</h2>

          <div class="row">

            <div class="col-sm-3">
              <div class="item">

                <h3 class="item_title">João Batista</h3>

                <div class="item_text">
                  <p>Vendedor sênior com 15 anos de experiência. Ele sabe tudo sobre os produtos que ele oferece.
                  </p>
                </div>

              </div>
            </div>


            <div class="col-sm-3">
              <div class="item">

                <h3 class="item_title">Jessica Alves</h3>

                <div class="item_text">
                  <p>Assistente de loja super positiva sempre pronta para ajudá-lo a fazer a escolha certa e encantá-lo
                    com um sorriso.
                  </p>
                </div>

              </div>
            </div>


            <div class="col-sm-3">
              <div class="item">

                <h3 class="item_title">Gustavo França</h3>

                <div class="item_text">
                  <p>Gerente de atacado. Entre em contato com ele se você quiser comprar um lote dos produtos oferecidos
                    em nossa loja.
                  </p>
                </div>

              </div>
            </div>


            <div class="col-sm-3">
              <div class="item">

                <h3 class="item_title">Edna Bastos</h3>

                <div class="item_text">
                  <p>Gerente de controle de qualidade. Sua missão é verificar os produtos que enviamos e resolver
                    problemas de qualidade, se houver.
                  </p>
                </div>

              </div>
            </div>


          </div>
        </div>


        <div class="page_content__block page_content__testimonials">

          <h2 class="block_title">Depoimentos</h2>


          <div class="item rte">
            <blockquote>

              <p>Gente, vocês são demais! Fiz uma compra em sua loja recentemente. O pedido foi enviado e entregue no
                prazo. A qualidade é excelente! O preço é bastante razoável. Disse a todos os meus amigos sobre o seu
                excelente serviço e a variedade de opções. Acho que também serei seu cliente fiel no futuro. Desejo à
                sua loja muito mais anos de prosperidade.
              </p>

              <b>Maria Taba</b>

            </blockquote>
          </div>


          <div class="item rte">
            <blockquote>

              <p>Obrigado novamente e novamente! Eu experimentei o suporte mais rápido de todos os tempos. Meu pedido
                chegou na minha porta na mesma hora. Sua equipe é sempre amigável e muito útil. Vocês conseguiram
                superar minhas expectativas!
              </p>

              <b>Virginia Bertolo</b>

            </blockquote>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
