<div class="page_container">

  <div class="breadcrumbs">
    <div class="container">
      <ul>
        <li><a href="/">Site</a></li>
        <li><span>Produtos</span></li>
      </ul>
    </div>
  </div>


  <div id="shopify-section-template-collection" class="shopify-section section_template section_template__collection">

    <div class="container">
      <h1 class="page_heading">Produtos</h1>
    </div>

    <div class="container">

      <div class="button_filters">
        <ul>
          <li class="active">
            <a href="">All</a>
          </li>

          <li>
            <a href="" title="Chocolate Dipped Cookies">Bolinhos mergulhados de chocolate</a>
          </li>

          <li>
            <a href="" title="Colored Sprinkle Cookies">Bolinhos coloridos e polvilhados</a>
          </li>

          <li>
            <a href="" title="Raspberry Hamantashen">Hamantashen de framboesa</a>
          </li>

          <li>
            <a href="" title="Ready-made Decorations">Decorações prontas</a>
          </li>

          <li>
            <a href="" title="Vanilla Cookies">Bolinhos de Baunilha</a>
          </li>

        </ul>
      </div>

      <div class="product_options">
        <ul class="product_view">
          <li id="view_grid" data-view="grid" class="active">
            <i class="fa fa-th" aria-hidden="true"></i>
          </li>
          <li id="view_list" data-view="list">
            <i class="fa fa-th-list" aria-hidden="true"></i>
          </li>
        </ul>

        <div class="product_options__sort">
          <label for="sort_by_select">Ordenar os produtos:</label>

          <select id="sort_by_select">
            <option value="manual">Destaque</option>
            <option value="best-selling">Mais vendidos</option>
            <option value="title-ascending">Nome: A – Z</option>
            <option value="title-descending">Nome: Z – A</option>
            <option value="price-ascending">Preço: baixo para alto</option>
            <option value="price-descending">Preço: alto para baixo</option>
            <option value="created-ascending">Mais antigo para o mais novo</option>
            <option value="created-descending">Mais recente para o mais antigo</option>
          </select>
        </div>

        <div class="product_options__number">
          <label for="products_number_select">Mostrar:</label>
          <select id="products_number_select">
            <option value="4">4</option>
            <option value="8">8</option>
            <option value="12">12</option>
            <option value="16">16</option>
          </select>
        </div>

        <div class="clearfix"></div>
      </div>

      <script>
        // theme.paginationCurrent = 1
        theme.productNumber = 8;
      </script>

      <div class="row product_listing__main" id="product_listing__sorted">

        <div class="col-sm-3 item_4_1 item_2_1">

          <div class="product_item">
            <div class="product_img">
              <a class="img_change" href="">
                <img class="img__1" src="../../../../assets/img/apple_pie_1_270x270_crop_center.png" alt="Apple Pie">
                <img class="img__2" src="../../../../assets/img/apple_pie_2_270x270_crop_center.png" alt="Apple Pie">
              </a>
            </div>

            <div class="product_info">
              <p class="product_name">
                <a href="">Torta de maçã</a>
              </p>

              <p class="product_desc product_desc__short">Congratulamo-nos com você na mais aconchegante loja online com a padaria mais saborosa. Você ha...</p>
              <p class="product_desc product_desc__long">Congratulamo-nos com você na mais aconchegante loja online com a padaria mais saborosa. Você tem um casamento? Uma festa? Uma reunião de família? Você quer passar uma noite sozinho, embrulhado em um cobertor, com uma xícara de chocolate e alguns cupcakes e, finalmente, descansar da confusão cotidiana? Em todas essas perguntas, ajudaremos você. Pegando seu bolo em nossa loja, você será auxiliado por nossa equipe amigável, mergulhe em um ambiente aconchegante, alivie seu humor com a impressão geral do lugar. Você pode obter um...</p>

            </div>

            <div class="clearfix"></div>

          </div>

        </div>

        <div class="col-sm-3  ">

          <div class="product_item">
            <div class="product_img">
              <a class="img_change" href="">
                <img class="img__1" src="../../../../assets/img/bagels_1_270x270_crop_center.png" alt="Bagels" style="opacity: 0.999938;">
                <img class="img__2" src="../../../../assets/img/bagels_2_270x270_crop_center.png" alt="Bagels" style="opacity: 6.16838e-05;">
              </a>
            </div>

            <div class="product_info">
              <p class="product_name">
                <a href="">Roscas</a>
              </p>

              <p class="product_desc product_desc__short">Congratulamo-nos com você na mais aconchegante loja online com a padaria mais saborosa. Você ha...</p>
              <p class="product_desc product_desc__long">Congratulamo-nos com você na mais aconchegante loja online com a padaria mais saborosa. Você tem um casamento? Uma festa? Uma reunião de família? Você quer passar uma noite sozinho, embrulhado em um cobertor, com uma xícara de chocolate e alguns cupcakes e, finalmente, descansar da confusão cotidiana? Em todas essas perguntas, ajudaremos você. Pegando seu bolo em nossa loja, você será auxiliado por nossa equipe amigável, mergulhe em um ambiente aconchegante, alivie seu humor com a impressão geral do lugar. Você pode obter um...</p>

            </div>

            <div class="clearfix"></div>

          </div>

        </div>

        <div class="col-sm-3  item_2_1">

          <div class="product_item">
            <div class="product_img">
              <a class="img_change" href="">
                <img class="img__1" src="../../../../assets/img/bun_1_270x270_crop_center.png" alt="Bun" style="opacity: 0.0857153;">
                <img class="img__2" src="../../../../assets/img/bun_2_270x270_crop_center.png" alt="Bun" style="opacity: 0.914285;">
              </a>
            </div>

            <div class="product_info">
              <p class="product_name">
                <a href="">Rosca de Passas</a>
              </p>

              <p class="product_desc product_desc__short">Congratulamo-nos com você na mais aconchegante loja online com a padaria mais saborosa. Você ha...</p>
              <p class="product_desc product_desc__long">Congratulamo-nos com você na mais aconchegante loja online com a padaria mais saborosa. Você tem um casamento? Uma festa? Uma reunião de família? Você quer passar uma noite sozinho, embrulhado em um cobertor, com uma xícara de chocolate e alguns cupcakes e, finalmente, descansar da confusão cotidiana? Em todas essas perguntas, ajudaremos você. Pegando seu bolo em nossa loja, você será auxiliado por nossa equipe amigável, mergulhe em um ambiente aconchegante, alivie seu humor com a impressão geral do lugar. Você pode obter um...</p>

            </div>

            <div class="clearfix"></div>

          </div>

        </div>

        <div class="col-sm-3  ">

          <div class="product_item">
            <div class="product_img">
              <a class="img_change" href="">
                <img class="img__1" src="../../../../assets/img/bun_with_cheese_1_270x270_crop_center.png" alt="Bun With Cheese">
                <img class="img__2" src="../../../../assets/img/bun_with_cheese_2_270x270_crop_center.png" alt="Bun With Cheese">
              </a>
            </div>

            <div class="product_info">
              <p class="product_name">
                <a href="">Pão com Queijo</a>
              </p>

              <p class="product_desc product_desc__short">Congratulamo-nos com você na mais aconchegante loja online com a padaria mais saborosa. Você ha...</p>
              <p class="product_desc product_desc__long">Congratulamo-nos com você na mais aconchegante loja online com a padaria mais saborosa. Você tem um casamento? Uma festa? Uma reunião de família? Você quer passar uma noite sozinho, embrulhado em um cobertor, com uma xícara de chocolate e alguns cupcakes e, finalmente, descansar da confusão cotidiana? Em todas essas perguntas, ajudaremos você. Pegando seu bolo em nossa loja, você será auxiliado por nossa equipe amigável, mergulhe em um ambiente aconchegante, alivie seu humor com a impressão geral do lugar. Você pode obter um...</p>

            </div>

            <div class="clearfix"></div>

          </div>

        </div>

        <div class="col-sm-3 item_4_1 item_2_1">

          <div class="product_item">
            <div class="product_img">
              <a class="img_change" href="">
                <img class="img__1" src="../../../../assets/img/cheese_cakes_with_raisins_1_270x270_crop_center.png" alt="Cheese Cakes With Raisins">
                <img class="img__2" src="../../../../assets/img/cheese_cakes_with_raisins_2_270x270_crop_center.png" alt="Cheese Cakes With Raisins">
              </a>
            </div>

            <div class="product_info">
              <p class="product_name">
                <a href="">Bolos de Queijo com Passas</a>
              </p>

              <p class="product_desc product_desc__short">Congratulamo-nos com você na mais aconchegante loja online com a padaria mais saborosa. Você ha...</p>
              <p class="product_desc product_desc__long">Congratulamo-nos com você na mais aconchegante loja online com a padaria mais saborosa. Você tem um casamento? Uma festa? Uma reunião de família? Você quer passar uma noite sozinho, embrulhado em um cobertor, com uma xícara de chocolate e alguns cupcakes e, finalmente, descansar da confusão cotidiana? Em todas essas perguntas, ajudaremos você. Pegando seu bolo em nossa loja, você será auxiliado por nossa equipe amigável, mergulhe em um ambiente aconchegante, alivie seu humor com a impressão geral do lugar. Você pode obter um...</p>

            </div>

            <div class="clearfix"></div>

          </div>

        </div>

        <div class="col-sm-3  ">

          <div class="product_item">
            <div class="product_img">
              <a class="img_change" href="">
                <img class="img__1" src="../../../../assets/img/cinnamon_bun_1_270x270_crop_center.png" alt="Cinnamon Bun">
                <img class="img__2" src="../../../../assets/img/cinnamon_bun_2_270x270_crop_center.png" alt="Cinnamon Bun">
              </a>
            </div>

            <div class="product_info">
              <p class="product_name">
                <a href="">Pão de canela</a>
              </p>

              <p class="product_desc product_desc__short">Congratulamo-nos com você na mais aconchegante loja online com a padaria mais saborosa. Você ha...</p>
              <p class="product_desc product_desc__long">Congratulamo-nos com você na mais aconchegante loja online com a padaria mais saborosa. Você tem um casamento? Uma festa? Uma reunião de família? Você quer passar uma noite sozinho, embrulhado em um cobertor, com uma xícara de chocolate e alguns cupcakes e, finalmente, descansar da confusão cotidiana? Em todas essas perguntas, ajudaremos você. Pegando seu bolo em nossa loja, você será auxiliado por nossa equipe amigável, mergulhe em um ambiente aconchegante, alivie seu humor com a impressão geral do lugar. Você pode obter um...</p>

            </div>

            <div class="clearfix"></div>

          </div>

        </div>

        <div class="col-sm-3  item_2_1">

          <div class="product_item">
            <div class="product_img">
              <a class="img_change" href="">
                <img class="img__1" src="../../../../assets/img/croissant_with_cherries_1_270x270_crop_center.png" alt="Croissant With Cherries">
                <img class="img__2" src="../../../../assets/img/croissant_with_cherries_2_270x270_crop_center.png" alt="Croissant With Cherries">
              </a>
            </div>

            <div class="product_info">
              <p class="product_name">
                <a href="">Croissant de Cerejas</a>
              </p>

              <p class="product_desc product_desc__short">Congratulamo-nos com você na mais aconchegante loja online com a padaria mais saborosa. Você ha...</p>
              <p class="product_desc product_desc__long">Congratulamo-nos com você na mais aconchegante loja online com a padaria mais saborosa. Você tem um casamento? Uma festa? Uma reunião de família? Você quer passar uma noite sozinho, embrulhado em um cobertor, com uma xícara de chocolate e alguns cupcakes e, finalmente, descansar da confusão cotidiana? Em todas essas perguntas, ajudaremos você. Pegando seu bolo em nossa loja, você será auxiliado por nossa equipe amigável, mergulhe em um ambiente aconchegante, alivie seu humor com a impressão geral do lugar. Você pode obter um...</p>

            </div>

            <div class="clearfix"></div>

         </div>

        </div>

        <div class="col-sm-3  ">

          <div class="product_item">
            <div class="product_img">
              <a class="img_change" href="">
                <img class="img__1" src="../../../../assets/img/cupcakes_in_assortment_1_270x270_crop_center.png" alt="Cupcakes In Assortment">
                <img class="img__2" src="../../../../assets/img/cupcakes_in_assortment_2_270x270_crop_center.png" alt="Cupcakes In Assortment">
              </a>
            </div>

            <div class="product_info">
              <p class="product_name">
                <a href="">Cupcakes Sortidos</a>
              </p>

              <p class="product_desc product_desc__short">Congratulamo-nos com você na mais aconchegante loja online com a padaria mais saborosa. Você ha...</p>
              <p class="product_desc product_desc__long">Congratulamo-nos com você na mais aconchegante loja online com a padaria mais saborosa. Você tem um casamento? Uma festa? Uma reunião de família? Você quer passar uma noite sozinho, embrulhado em um cobertor, com uma xícara de chocolate e alguns cupcakes e, finalmente, descansar da confusão cotidiana? Em todas essas perguntas, ajudaremos você. Pegando seu bolo em nossa loja, você será auxiliado por nossa equipe amigável, mergulhe em um ambiente aconchegante, alivie seu humor com a impressão geral do lugar. Você pode obter um...</p>

            </div>

            <div class="clearfix"></div>

          </div>

        </div>

      </div>

      <div class="pagination">

       <p>1 – 8 produtos de 20</p>

        <ul>
          <li class="pagination_prev">
            <span><i class="fa fa-angle-left" aria-hidden="true"></i>Anterior</span>
          </li>
          <li class="pagination_current"><span>1</span></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li class="pagination_next">
            <a href="">Próxima<i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </li>
        </ul>

      </div>

    </div>

  </div>

</div>
